@import '../../_vars';

.box {
  @extend %section_box;
  .section_header {
    @extend %section_header;
  }
  .section_content {
    @extend %section_content;
    .section_subtitle {
      @extend %section_subtitle;
    }
    .section_cost {
      @extend %section_cost;
    }
    .section_disclaimer {
      @extend %section_disclaimer;
    }
  }
}

@media (max-width: 414px) {
  .box {
    width: 100vw;
  }
  .box[data-sticky='true'] {
    .section_header {
      position: fixed;
      top: 12vh;
    }
    .section_content {
      margin-top: 60px;
    }
  }
}
