@import '../../_vars';

.box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 160px;
  font-weight: 600;
  .filter {
    position: absolute;
    top: -20px;
    left: 20px;
    width: auto;
    height: 22px;
    font-weight: 400;
    line-height: 22px;
    color: $ehm_blue;
    border-bottom: 2px solid rgba(58, 94, 186, 0.4);
  }
  .filter:active {
    border-bottom: 2px solid $ehm_blue;
    background: rgba(58, 94, 186, 0.1);
  }
  .plan_logo {
    width: 97px;
    height: 25px;
    margin: 30px 0;
    @extend %image_style;
  }
  .plan_logo[data-plan='aetna'] {
    background-image: url('../../assets/logo_aetna_grayscale.svg');
  }
  .plan_logo[data-plan='kaiser'] {
    width: 93px;
    background-image: url('../../assets/logo_kaiser_permanente_grayscale.svg');
  }
  .plan_logo[data-plan='anthem'] {
    width: 136px;
    background-image: url('../../assets/logo_anthem_color.svg');
  }
  .plan_name {
    width: 300px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
  }
}

@media (max-width: 414px) {
  .box {
    margin-top: 8vh;
  }
}
