@import '../../_vars';

.box {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1;
  display: flex;
  width: 100%;
  height: 100px;
  font-weight: bold;
  font-size: 18px;
  background-color: #fff;
  border-bottom: 1px solid #333;
  .tab {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex: .33;
    border-right: 1px solid #333;
    color: #333;
  }
  .tab[data-active='true'] {
    background-color: #333;
    color: #fff;
  }
  .tab:last-child {
    flex: .34;
    border: none;
  }
}

@media (max-width: 414px) {
  .box {
    position: fixed;
    top: 0;
    left: 0;
    height: 12vh;
    font-size: 5vw;
  }
}
