@import '../../_vars';

.box {
  @extend %section_box;
  .section_header {
    @extend %section_header;
  }
  .section_content {
    @extend %section_content;
    .section_title {
      padding: 12px;
      text-align: center;
      font-size: 20px;
      font-weight: 600;
      background-color: #F8F8F8;
      border-top: 2px solid #333;
    }
    .section_subtitle {
      @extend %section_subtitle;
    }
    .section_wrap {
      display: flex;
      flex-direction: column;
      @extend %section_cost;
    }
    .section_cost {
      @extend %section_cost;
    }
    .section_disclaimer {
      @extend %section_disclaimer;
    }
  }
}

@media (max-width: 414px) {
  .box {
    width: 100vw;
  }
  .box[data-section-dental='sticky'] {
    .section_header {
      position: fixed;
      top: 12vh;
    }
    .section_content {
      margin-top: 60px;
    }
  }
}
